.appHead{
    width: 100%;
    padding: 5px;
    background-color: black;
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-bottom: 10px;
}
.cardWrapper{
    border: 0px !important  ;
}

.appIcon{
    font-size: 20px;
    text-align: center;
    color: white;
}
.divider-text {
    position: relative;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}
.divider-text span {
    padding: 7px;
    font-size: 12px;
    position: relative;   
    z-index: 2;
}
.divider-text:after {
    content: "";
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #ddd;
    top: 55%;
    left: 0;
    z-index: 1;
}

.btn-facebook {
    background-color: #405D9D;
    color: #fff;
}
.btn-twitter {
    background-color: #42AEEC;
    color: #fff;
}