.bannerWrapper{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.options{
    margin: 0 auto;
    width: 100%;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.bannerWrapper img{
    width: 100%;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 32%;
    
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      
    }
  }
@media screen and (max-width:770px){
    .bannerWrapper img{
        max-width: inherit;
        max-width: -webkit-fill-available;
    }
    .optionWrapper img{
        width : 170px;
    }
}
@media screen and (max-width:740px){
    .bannerWrapper img{
        max-width: inherit;
        max-width: -webkit-fill-available;
    }
    .optionWrapper img{
        width : 170px;
    }
}
@media screen and (max-width:550px){
    .bannerWrapper img{
        max-width: inherit;
        max-width: -webkit-fill-available;
    }
    .optionWrapper img{
        width : 150px;
    }
}



